---
import Layout from '@/layout/Layout.astro';
import Menu from '@/sections/Menu.astro';
import Info from '@/sections/Info.astro';
import InfoMenu from '@/sections/InfoMenu.astro';
import GeneralContainer from '@/components/GeneralContainer.astro';
import UserIcon from '@/assets/icons/User.astro';
import Link from '@/components/Link.astro';
---

<Layout>
	<GeneralContainer classList="h-full">
		<Link href="/login" title="Enlace a iniciar sesión" class="flex items-center gap-2 p-5 py-3 rounded-xl bg-button-background w-fit ml-auto hover:bg-accent group shadow shadow-text/5 mb-6 lg:mb-9">
			<UserIcon width={14} height={14} class="text-text-secondary group-hover:text-white transition-colors ease-in-out duration-300" />
			<span class="group-hover:text-white transition-colors ease-in-out duration-300">Iniciar Sesión</span>
		</Link>
		<section class="lg:grid gap-6 lg:gap-9 lg:grid-cols-8 h-full">
			<Info />

			<div class="lg:col-span-5">
				<Menu />
				<InfoMenu />
			</div>
		</section>
	</GeneralContainer>
</Layout>
