---
interface Props {
	menuSectionsCount: number;
	menuItemsCount: number;
}

const { menuSectionsCount, menuItemsCount } = Astro.props;
---

<div class="flex border-b border-text/20">
	<button data-tab="items" class="cursor-pointer tab-button px-6 py-4 font-medium text-text-secondary hover:text-text transition-base border-b-2 border-transparent hover:border-accent">
		Platos ({menuItemsCount})
	</button>
	<button data-tab="menus" class="cursor-pointer tab-button px-6 py-4 font-medium text-text-secondary hover:text-text transition-base border-b-2 border-transparent hover:border-accent">
		Menús ({menuSectionsCount})
	</button>

	<button id="apply-changes-global" data-tab="menus" class="cursor-pointer ml-auto flex items-center gap-2 p-5 py-3 rounded-xl text-white bg-accent w-fit h-fit my-auto mr-1 hover:bg-accent-secondary group shadow shadow-text/5 transition-base disabled" disabled>
		<svg class="spinner-apply hidden" width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
			<path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
		</svg>
		<span class="btn-apply-text">Aplicar cambios</span>
	</button>
</div>

<style>
	.disabled {
		pointer-events: none;
		opacity: 0.6;
		user-select: none;
	}
</style>
